// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=VT323&display=swap');



// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
// $green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom Colors
$fanshipRed: #D7263D;
$fanshipOrange: #F46036; 
$fanshipBlue: #2E294E;
$fanshipTeal: #1B998B;
$fanshipGreen: #C5D86D;

$green: $fanshipGreen;
$primary: $fanshipGreen;

$family-secondary: 'VT323', monospace;